body, html {
    color: #41434A; 
    font-family: 'Cambria';
    margin: 0;
    height: 100%;
    text-size-adjust: auto;
    overflow-x: hidden;
}


/***** Header ******/

.header {
    display: flex;
    flex-direction: column;
}

#top {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

#title {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 410px;
}

#title img {
    box-sizing: content-box;
    width: 100px;
    height: 100px;
    padding-top: 10px;
}

#corner-info {
    display:flex;
    flex-direction: column;
    align-items: left;
    box-sizing: content-box;
    padding-top: 15px;
    padding-left: 130px;
    width: 90%;
}

#corner-info p {
    margin-bottom: 0.1em;  
    margin-top: 0.1em;
}

#corner-info img {
    box-sizing: content-box;
    width: 30px;
    height: 30px;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #FFEBEB;
}

#nav-bar a {
    color: #41434A;
    text-decoration: none;
}

#nav-bar a:visited {
    color: #41434A;
    text-decoration: none;
}

.nav-item {
    margin: 15px 150px 5px 150px;
}

/***** About Page Content ******/

/*#carousel_container {
    position: absolute;
    width: 100vw;
}

#carousel {
    position: absolute;
    left: 59.5%;
    z-index: 3;
    background-color: grey; 
    width: 38%;
    height: 650px;
    border: 30px;
    overflow: hidden;
}

.carousel_strip {
    transition: 0.5s;
    position: absolute;
    left: 0;
    display: flex;
}

.carousel_section {
    position: relative;
    width: 38%;
    height: 650px;
}

.carousel_section img {
    width: 38%;
    height: 650px;
}


/*END CAROUSEL*/

.about-page img {
    image-orientation: from-image;
    width: 38%;
    height: 650px;
    border: 30px solid white;
}

.about-page h1 {
    font-size: 25px;
    margin-left: 30px;
    color: #E8B36B;
}

.about-page p {
    margin-left: 30px;
    line-height: 1.8;
}
