body, html {
    color: #41434A; 
    font-family: 'Cambria';
    margin: 0;
    height: 100%;
    text-size-adjust: auto;
    overflow-x: hidden;
}


/***** Header ******/

.header {
    display: flex;
    flex-direction: column;
}

#top {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

#title {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 410px;
}

#title img {
    box-sizing: content-box;
    width: 100px;
    height: 100px;
    padding-top: 10px;
}

#corner-info {
    display:flex;
    flex-direction: column;
    align-items: left;
    box-sizing: content-box;
    padding-top: 15px;
    padding-left: 130px;
    width: 90%;
}

#corner-info p {
    margin-bottom: 0.1em;  
    margin-top: 0.1em;
}

#corner-info img {
    box-sizing: content-box;
    width: 30px;
    height: 30px;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #FFEBEB;
}

.nav-item {
    margin: 15px 100px 5px 100px;
}

#nav-bar a {
    color: #41434A;
    text-decoration: none;
}

#nav-bar a:visited {
    color: #41434A;
    text-decoration: none;
}

/***** best-selling page content ******/

.items-page {
    padding-right: 100px;
}

#filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 300px 0px 300px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    background: #41434A;
    width: 150px;
    height: 40px;
    border-radius: 40px;
    align-items: center;
    border-style: solid;
}

.button:hover {
    cursor: pointer;
}

.active:hover {
    color: #41434A;
    background: white;
    border-style: solid;
    border-color: #41434A;
}

.items-page h2 {
    text-align: center;
    font-size: 18px;
}

.product_name {
    font-size: 0;
    /*z-index: 3;*/
    /*float: left;*/
}

.price {
    font-size: 0;
}


#products img {
    width: 175px;
    height: 175px;
    float: left;
    padding: 0 50px 50px 50px;
}

#products {
    /*display: flex;*/
    /*flex-direction: column;*/
    width: 80%;
    float: left;
    position: absolute;
    padding-top: 25px;
    left: 57.5%;
    transform: translateX(-50%);
}

.item:hover img {
    opacity: 0.4;
}

.item:hover .product_name {
    visibility: visible;
    color: pink;
    font-size: 12px;
}




















