body, html {
	color: #41434A;	
	font-family: 'Cambria';
  	margin: 0;
  	height: 100%;
  	text-size-adjust: auto;
  	overflow-x: hidden;
}


/***** Header ******/

.header {
	display: flex;
	flex-direction: column;
}

#top {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	margin-bottom: 10px;
}

#title {
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-left: 410px;
}

#title img {
	box-sizing: content-box;
	width: 100px;
	height: 100px;
	padding-top: 10px;
}

#corner-info {
	display:flex;
	flex-direction: column;
	align-items: left;
	box-sizing: content-box;
	padding-top: 15px;
	padding-left: 130px;
	width: 90%;
}

#corner-info p {
	margin-bottom: 0.1em;  
	margin-top: 0.1em;
}

#corner-info img {
	box-sizing: content-box;
	width: 30px;
	height: 30px;
}

#nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background: #FFEBEB;
}

#nav-bar a {
	color: #41434A;
	text-decoration: none;
}

#nav-bar a:visited {
	color: #41434A;
	text-decoration: none;

}

.nav-item {
	margin: 15px 150px 5px 150px;
}

.home-page {
	position: relative;
	text-align: center;
	overflow: hidden;
	height: 100vh;
}

.home-page img {
	width: 100%;
}

#info-box {
	background-color: rgba(255,255,255,0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: content-box;
	width: 35%;
	height: 75%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
}

#directions-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	width: 45%;
	height: 7.5%;
	border-radius: 40px;
	margin-top: 20px;
	margin-bottom: 40px;
}

#directions-button:hover {
	background: #FFEBEB;
	cursor: pointer;
}


#icon-bar {
	display: flex;
	flex-direction: row;
	background: white;
	opacity: 0.9;
	border-radius: 20px;
}

#icon-bar p {
	box-sizing: content-box;
	width: 130px;
	height: 30px;
	font-size: 10px;
} 

#icon-bar img {
	box-sizing: content-box;
	width: 60px;
	height: 60px;
	margin-top: 10px;
}


